<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel = "icon" href = "/images/weather.png">
        <link rel = "stylesheet" href = "/css/style.css">
    </head>

    <body>
        <div class = "main-content">
            {{>header}}
            <p>This website was created by Jagman Kaur. It uses data from weatherstack.com and mapbox.com </p>
            <img class = "potrait" src="/images/robot.png">
        </div>
     
        {{>footer}}
    </body>
</html>